---
import Layout from '../../layouts/Layout.astro';
import { BlogPost } from '@/components/blog-post';
import '@/globals.css';

interface Frontmatter {
  title: string;
  date: string;
  slug: string;
}

interface Post {
  frontmatter: Frontmatter;
  rawContent: () => string;
}

export async function getStaticPaths(): Promise<Array<{ params: { slug: string }, props: { post: Post } }>> {
  const posts = await Astro.glob<Post>('../../posts/*.md');
  return posts.map((post) => ({
    params: { slug: post.frontmatter.slug || post.file.split('/').pop()?.split('.').shift() || '' },
    props: { post },
  }));
}

const { post } = Astro.props;
// Remove this line
// const { slug } = Astro.params;
---

<Layout title={post.frontmatter.title}>
  <div class="max-w-6xl mx-auto px-4 py-8">
    <BlogPost content={post.rawContent()} frontmatter={post.frontmatter} />
  </div>
</Layout>